<div class='container'>
  <% @travel_logs.each do |travel_log| %>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <center><%= image_tag(travel_log.avatar.url(:small)) %></center>
        </div>
        <div class="panel-body">
          <h3><%= travel_log.title %></h3>
          <p><%= travel_log.description %></p>
          <p><%= link_to 'Plus...', travel_log %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
